* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
  color: #545dd9;
}

button  {
  padding: 8px 16px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 8px;

  font-size: 1.5rem;
}

button:hover {
  cursor: pointer;
  background-color: #282727;
}

#feedback-section {
  margin: 48px 0px;
}

.feedback {
  display: flex;
  justify-content: center;
  gap: 36px;
  margin: 64px 0 100px 0;
}

#goodBtn {
  background-color: #47b247;
}

#goodBtn:hover {
  background-color: #3f8d3f;
}

#neutralBtn {
  background-color: #c67723;
}

#neutralBtn:hover {
  background-color: #b26e26;
}

#badBtn {
  background-color: #bd2424;
}

#badBtn:hover {
  background-color: #a82626;
}

#statistics-section {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.statistics {
  display: flex;
  flex-direction: row;
  gap: 36px;

  /* Background */
  background-color: #545dd9;
  color: #ffffff;
  padding: 8px 96px;
  border-radius: 8px;
}

.statistics  span {
  font-weight: bold;
}